*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F7F3F0;
    font-family:Arial, Helvetica, sans-serif ;
}

header {
    padding: 36px 0px 36px 0px;
    margin-left: 140px;
    display: flex;
    align-items: center;
}

#logo {
    margin-right: 1096px;
    font-weight: bold;
    font-size: 30px;
}

.navigation {
    margin-left: 140px;
}

.navigation li {
    margin-right: 45px;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: black;
}

.navigation ul a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 50px; 
}

.branding-image {
    display: flex;
    justify-content: center;
}

#branding-logo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logo {
    display: flex;
    justify-content: center;
}
.text-content {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.text {
    display: flex;
    width: 500px;
}

#bullet-point {
    border: 3px solid rgb(38, 38, 38);
    margin-right: 10px;
}

.container-2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#s-label {
    margin-top: 120px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.socials, ul, li, a {
    display: flex;
    justify-content: center;
}

.socials {
    margin-bottom: 100px;
}

#s-icon {
    width: 60px;
    margin-right: 45px;
}