*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F7F3F0;
    font-family:Arial, Helvetica, sans-serif ;
}

header {
    padding: 36px 0px 36px 0px;
    margin-left: 140px;
    display: flex;
    align-items: center;
}

#logo {
    margin-right: 1096px;
    font-weight: bold;
    font-size: 30px;
}

.navigation {
    margin-left: 140px;
}

.navigation li {
    margin-right: 45px;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: black;
}

.navigation ul a:hover {
    text-decoration: underline;
}

h1 {
    margin-left: 140px;
    margin-top: 100px;
    margin-bottom: 50px;
    text-decoration: underline;
    
}

.portfolio-cards {
    padding-left: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.image {
    width: 500px;
    display: block;
    margin-bottom: 30px;
}

button {
    padding: 21px 30px 21px 30px;
    background: none;
    width: 178px;
}

button:hover {
    background: #262626;
    color: white;
    cursor: pointer;
}

#s-label {
    margin-top: 320px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.socials, ul, li, a {
    display: flex;
    justify-content: center;
}

.socials {
    margin-bottom: 100px;
}

#s-icon {
    width: 60px;
    margin-right: 45px;
}